.App{
  font-family: Arial,Helvetica,sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Menu,
.Quiz,
.EndScreen{
  width: 500px;
  height: 300px;
  color: black;
  border-radius: 10px;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu-btn{
  width: 250px;
  height: 50px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
  
  font-size: 20px;
  cursor: pointer;
}
.options{
  justify-content: left;
  width: 500px;
  margin-left: 10px;
}
.options button:hover{
  background-color: aquamarine ;
  
}
.options button,
.EndScreen button{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 30px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
  
  font-size: 14px;
  cursor: pointer;
}
.prenex-btn{
  display: flex;
  flex-direction: row;
  width: 500px;
  height: 50px;
  align-items: center;
  justify-content: center;
  
}
.prenex-btn button{
  margin: 5px 25px;
  padding: 3px 36px;
}